{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/cart.css">
{% endblock %}
{% block javascripts %}
<script
    src="https://www.paypal.com/sdk/js?client-id=AWYIF76W1ToMO8jzvEAArqYAQceS7Jr4dMx0bPlX0wiV0sN0qYjtCBne592v41M7CZCwwZ8ExOaskUt-&currency=EUR&locale=fr_FR"></script>
{% endblock %}

{% block body %}
<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                    <div class="col">
                        <p class="text-muted space mb-0 shop"> Shop No.78618K</p>
                        <p class="text-muted space mb-0 shop">Store Locator</p>
                    </div>
                    <div class="col">
                        <div class="row justify-content-start ">
                            <div class="col">
                                <img class="irc_mi img-fluid cursor-pointer " src="https://i.imgur.com/jFQo2lD.png"
                                    width="70" height="70">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30">
                    </div>
                </div>
                <div class="row  mx-auto justify-content-center text-center">
                    <div class="col-12 mt-3 ">
                        <nav aria-label="breadcrumb" class="second ">
                            <ol class="breadcrumb indigo lighten-6 first  ">
                                <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase "
                                        href="/product"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i
                                        class="fa fa-angle-double-right " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase"
                                        href="#"><span class="mr-md-3 mr-1">SHOPPING BAG</span></a><i
                                        class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a
                                        class="black-text text-uppercase active-2" href="#"><span
                                            class="mr-md-3 mr-1">CHECKOUT</span></a></li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-header pb-0">
                                <h2 class="card-title space ">Checkout</h2>
                                <p class="card-text text-muted mt-4 space">SHIPPING DETAILS</p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-auto mt-0">
                                        <p><b>{{ app.user.getCompleteAddress() }}</b></p>
                                    </div>
                                    <div class="col-auto">
                                        <p><b>{{ app.user.getEmail() }}</b> </p>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <p class="text-muted mb-2">PAYMENT DETAILS</p>
                                        <hr class="mt-0">
                                    </div>
                                </div>

                                <div class="row mb-md-5">
                                    <div class="col">
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER <span
                                        class=" small text-muted ml-2 cursor-pointer">EDIT SHOPPING BAG</span> </p>
                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">
                                {% for product in app.session.get('cart') %}
                                <div class="row  justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row">
                                            <img class=" img-fluid" src="{{ product.entity.getImage() }}" width="62"
                                                height="62">
                                            <div class="media-body  my-auto">
                                                <div class="row ">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>{{ product.entity.getName() }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto">
                                        <p class="boxed-1">{{ product.quantity }}</p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto ">
                                        <p><b>{{ product.quantity * product.entity.getPrice() }} €</b></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                {% endfor %}
                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>{{ total }} €</b></p>
                                            </div>
                                        </div>
                                        <hr class="my-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ total }}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
                // Successful capture! For demo purposes:
                console.log(orderData);
                fetch("{{ path('app_processPayment') }}", {
                    method: 'POST',
                    body: "order=" + JSON.stringify(orderData),
                    headers: new Headers({
                        'Content-Type': 'application/x-www-form-urlencoded'
                    })
                }).then(function (response) {
                    if (response.status == 200) {
                        window.location.href = "{{ path('cart.thanks') }}";
                    } else {
                        alert('Une erreur est survenue');
                    }
                });
            });
        }
    }).render('#paypal-button-container');
</script>
{% endblock %}