{% extends 'base.html.twig' %}

{% block title %}BaseScent index{% endblock %}

{% block body %}
    <h1>Les notes de fond</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Senteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for base_scent in base_scents %}
            <tr>
                <td>{{ base_scent.id }}</td>
                <td>{{ base_scent.Scent }}</td>
                <td><img src="{{base_scent.image}}" width="300"></td>
                <td>
                    <a href="{{ path('app_base_scent_show', {'id': base_scent.id}) }}">Montrer</a>
                    <a href="{{ path('app_base_scent_edit', {'id': base_scent.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune senteur trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_base_scent_new') }}">Ajouter une nouvelle senteur</a>
{% endblock %}
