{% extends 'base.html.twig' %}

{% block title %}BaseScent{% endblock %}

{% block body %}
    <h1>BaseScent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ base_scent.id }}</td>
            </tr>
            <tr>
                <th>Senteur</th>
                <td>{{ base_scent.Scent }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{base_scent.image}}" width="300"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_base_scent_index') }}">Retour à la liste des senteurs</a>

    <a href="{{ path('app_base_scent_edit', {'id': base_scent.id}) }}">Editer</a>

    {{ include('base_scent/_delete_form.html.twig') }}
{% endblock %}
