{% extends 'base.html.twig' %}

{% block title %}ReproducedPerfume index{% endblock %}

{% block body %}
    <h1>ReproducedPerfume index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SamplingPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reproduced_perfume in reproduced_perfumes %}
            <tr>
                <td>{{ reproduced_perfume.id }}</td>
                <td>{{ reproduced_perfume.samplingPrice }}</td>
                <td>
                    <a href="{{ path('app_reproduced_perfume_show', {'id': reproduced_perfume.id}) }}">show</a>
                    <a href="{{ path('app_reproduced_perfume_edit', {'id': reproduced_perfume.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reproduced_perfume_new') }}">Create new</a>
{% endblock %}
