{% extends 'base.html.twig' %}

{% block title %}PurchasedProduct index{% endblock %}

{% block body %}
    <h1 style="margin-top: 10px; margin-bottom: 40px">Mes commandes passées</h1>

    <form method="GET">
    <label for="created_perfume_id">De quel parfum souhaitez-vous voir les commandes ? &nbsp</label>
        <select name="created_perfume_id" id="created_perfume_id">
            <option value="">Tous les parfums</option>
            {% for created_perfume in created_perfumes %}
            <option value="{{ created_perfume.id }}" {% if app.request.get('created_perfume_id') == created_perfume.id %} selected {% endif
                %}>{{ created_perfume.name }}</option>
            {% endfor %}
        </select>
    <button>Filtrer</button>
    </form>
    <br>
    <form method="GET">
        <label for="product_id">De quel produit souhaitez-vous voir les commandes ? &nbsp</label>
            <select name="product_id" id="product_id">
                <option value="">Tous les produits</option>
                {% for product in products %}
                <option value="{{ product.id }}" {% if app.request.get('product_id') == product.id %} selected {% endif
                    %}>{{ product }} </option>
                {% endfor %}
            </select>
        <button>Filtrer</button>
    </form>
    <br>
    <form method="GET">
        <label for="created_at">Dans quel intervalle de date de de création souhaitez-vous voir les commandes ? &nbsp</label>
            <input type="datetime-local" id="created_at_init" name="created_at_init" value="{{ app.request.get('created_at_init') }}">
            <input type="datetime-local" id="created_at_final" name="created_at_final" value="{{ app.request.get('created_at_final') }}">
        <button>Filtrer</button>
    </form>

    <table class="table" style="margin-top: 30px">
        <thead>
            <tr>
                <th>Date de commande</th>
                <th>Parfum</th>
                <th>Composition</th>
                <th>Produit</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for purchased_product in purchased_products %}
            {% set selected_order = null %}
            {% for order in orders %}
                {% if purchased_product.commande == order %}
                    {% set selected_order = order %}
                {% endif %}
            {% endfor %}
            {% set selected_created_perfume = null %}
            {% for created_perfume in created_perfumes %}
                {% if purchased_product.createdPerfume == created_perfume %}
                    {% set selected_created_perfume = created_perfume %}
                {% endif %}
            {% endfor %}
            {% if selected_order is not null and selected_created_perfume is not null %}
                <tr>
                    <td>{{ selected_order.createdAt | date("Y-m-d H:i:s")  }}</td>
                    <td>{{ purchased_product.createdPerfume }}</td>
                    <td>
                    <ul>
                        <li>{{ selected_created_perfume.ProportionHeadScent }}% {{ selected_created_perfume.HeadScent.scent }}</li>
                        <li>{{ selected_created_perfume.ProportionHeartScent }}% {{ selected_created_perfume.HeartScent.scent }}</li>
                        <li>{{ selected_created_perfume.ProportionBaseScent }}% {{ selected_created_perfume.BaseScent.scent }}</li>
                    </ul>
                    </td>
                    <td>{{ purchased_product.product }}</td>
                    <td>{{ purchased_product.unitPrice }} €</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Aucune commande passée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
