<header>
    <div class="container-fluid">
        <div id="navbar" class="row" style="width: 100%">
            <nav class="navbar navbar-expand-md navbar-light bg-info p-2" style="min-width: 100vw; margin-left:-12px">
                <a href="{{ path('app_accueil') }}" class="navbar-brand d-flex flex-column justify-content-center align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                </svg><br><p style="font-family: cursive; margin-top: -30px; margin-bottom: -10px; font-size: 18px;">Identité olfactive</p></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-three-dots-vertical"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                    />
                    </svg>
                </button>
                <div style="margin-right: 40px" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_boutiques_ephemeres') }}">Boutiques éphémères</a>
                    </li>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_head_scent_index') }}">Editer les notes de tête</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_heart_scent_index') }}">Editer les notes de coeur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_base_scent_index') }}">Editer les notes de fond</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_product_index') }}">Editer les produits</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_purchased_product_index_admin') }}">L'ensemble des commandes</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_created_perfume_new') }}">Créer un parfum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_created_perfume_index') }}">Mes parfums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_cart') }}">Panier <i class="fas fa-shopping-cart"></i></a>
                    </li>
                    {% endif %}
                    {% if app.user is null  %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_register') }}">Créer un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_user_edit') }}">Editer mes<br>informations</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_purchased_product_index_user') }}">Mes commandes<br>passées</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
        <div id="background-image" style='background-image: url("/images/nature-3061436.jpg"); background-size: cover; width:100%; height:450px'>
    </div>
</header>