{% extends 'base.html.twig' %}

{% block title %}HeadScent index{% endblock %}

{% block body %}
    <h1>Les notes de tête</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Senteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for head_scent in head_scents %}
            <tr>
                <td>{{ head_scent.id }}</td>
                <td>{{ head_scent.Scent }}</td>
                <td><img src="{{head_scent.image}}" width="300" height="300"></td>
                <td>
                    <a href="{{ path('app_head_scent_show', {'id': head_scent.id}) }}">Montrer</a>
                    <a href="{{ path('app_head_scent_edit', {'id': head_scent.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune senteur trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_head_scent_new') }}">Ajouter une nouvelle senteur</a>
{% endblock %}
