{% extends 'base.html.twig' %}

{% block title %}HeadScent{% endblock %}

{% block body %}
    <h1>HeadScent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ head_scent.id }}</td>
            </tr>
            <tr>
                <th>Senteur</th>
                <td>{{ head_scent.Scent }}</td>
            </tr>
            <tr>
                <th>image</th>
                <td><img src="{{head_scent.image}}" width="300"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_head_scent_index') }}">Retour à la liste des senteurs</a>

    <a href="{{ path('app_head_scent_edit', {'id': head_scent.id}) }}">Editer</a>

    {{ include('head_scent/_delete_form.html.twig') }}
{% endblock %}
