<div class= "d-flex flex-row justify-content-around align-items-center" style="margin-top: 50px">
    <p style="width: 500px; text-align: justify"> Pour créer votre parfum, il vous faut lui trouver un nom, choisir les senteurs et la proportion de ces senteurs.
    Il vous faut ensuite choisir le(s) produit(s) que vous voulez acheter, c'est à dire la forme sous laquelle vous voulez recevoir votre parfum.
    Dans un premier temps, nous vous conseillons de choisir un flacon d'échantillon, pour reajuster à volonté les proportions des
    senteurs qui vous attirent.
    </p>
</div>

{{ form_start(form) }}
    {% set selected_key_head = 0 %} 
    {% for key, head_scent in head_scents %}
        {% if created_perfume.HeadScent is not null and head_scent.scent == created_perfume.HeadScent.scent %}
            {% set selected_key_head = key %}
        {% endif %}
    {% endfor %}

    {% set selected_key_heart = 0 %}
    {% for key, heart_scent in heart_scents %}
        {% if created_perfume.HeartScent is not null and heart_scent.scent == created_perfume.HeartScent.scent %}
            {% set selected_key_heart = key %}
        {% endif %}
    {% endfor %}

    {% set selected_key_base = 0 %}
    {% for key, base_scent in base_scents %}
        {% if created_perfume.BaseScent is not null and base_scent.scent == created_perfume.BaseScent.scent %}
            {% set selected_key_base = key %}
        {% endif %}
    {% endfor %}
    <div class="display: flex; flex-wrap: wrap;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div style='margin-top: 50px; margin-bottom: 150px'> Nom <br>
            {{ form_widget(form.name) }} 
            </div>
            <div style='height:40px; width:60px; border:solid; border-top: none'>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div id='proportionHeadScent' style='position: relative; display: flex; justify-content: center; align-items: center; height:{{created_perfume.ProportionHeadScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ head_scents[selected_key_head].image }}"); background-size: cover; border:solid; margin-top: -1px'>
                <div id='proportionHeadScentInput' style='height: 70px; width: 150px; position: absolute; bottom: 20px; right: 60px'>
                    {# ; left: -20px #}
                    Proportion de la note de tête (%)
                    {{ form_widget(form.proportionHeadScent) }}
                </div>
                <div id='headScentInput' style='height: 70px; width: 150px; position: absolute; bottom: 20px; left: 80px'>
                {# left: -50px #}
                    Senteur de la note de tête
                    {{ form_widget(form.headScent) }}
                </div>
            </div>
            <div id='proportionHeartScent' style='position: relative; display: flex; justify-content: center; align-items: center; height:{{created_perfume.ProportionHeartScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ heart_scents[selected_key_heart].image }}"); background-size: cover; border:solid; margin-top: -1px'>
                <div id='proportionHeartScentInput' style='height: 70px; width: 150px; position: absolute; top: 20px; right: 60px'>
                {#  ; left:-20px #}
                    Proportion de la note de coeur (%)
                    {{ form_widget(form.proportionHeartScent) }}
                </div>
                <div id='heartScentInput' style='height: 70px; width: 150px; position: absolute; top: 20px; left:80px'>
                {#  ; left:-50px #}
                    Senteur de la note de coeur
                    {{ form_widget(form.heartScent) }}
                </div>
            </div>
            <div id='proportionBaseScent' style='position: relative; display: flex; justify-content: center; align-items: center; height:{{created_perfume.ProportionBaseScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ base_scents[selected_key_base].image }}"); background-size: cover; border:solid; margin-top: -1px; border-radius: 0px 0px 40px 40px;'>
                <div id='proportionBaseScentInput' style='height: 70px; width: 150px; position: absolute; top: 20px; right: 60px'>
                    Proportion de la note de fond (%)
                    {{ form_widget(form.proportionBaseScent) }}
                </div>
                <div id='baseScentInput' style='height: 70px; width: 150px; position: absolute; top: 20px; left: 80px'>
                {# ; left:-50px #}
                    Senteur de la note de fond 
                    {{ form_widget(form.baseScent) }}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div style='margin-top: 200px'> Produit(s)<br>
            {{ form_widget(form.products) }} 
            </div>
            <button style='margin-top: 10px' class="btn btn-primary">{{ button_label|default('Enregister') }}</button>
        </div>
    </div> 
{{ form_end(form) }}

{% set headScentsImages = [] %}
{% for headScent in head_scents %}
    {% set headScentsImages = headScentsImages|merge([headScent.image]) %}
{% endfor %}

{% set heartScentsImages = [] %}
{% for heartScent in heart_scents %}
    {% set heartScentsImages = heartScentsImages|merge([heartScent.image]) %}
{% endfor %}

{% set baseScentsImages = [] %}
{% for baseScent in base_scents %}
    {% set baseScentsImages = baseScentsImages|merge([baseScent.image]) %}
{% endfor %}

<script>
headScentsImagesJs = JSON.parse('{{ headScentsImages | json_encode | raw }}');
heartScentsImagesJs = JSON.parse('{{ heartScentsImages | json_encode | raw }}');
baseScentsImagesJs = JSON.parse('{{ baseScentsImages | json_encode | raw }}');
</script>
<script src="/js/animationImagesCreatedPerfume.js"></script>
<script src="/js/animationProportionsCreatedPerfume.js"></script>