{% extends 'base.html.twig' %}

{% block title %}CreatedPerfume index{% endblock %}

{% block body %}
<h1 style="margin-top: 20px" class="d-flex justify-content-center">Mes parfums</h1>
<div id="perfumes" style="display: flex; flex-wrap: wrap">
{% for key_created_perfume, created_perfume in created_perfumes %}

    {% set selected_product_quantities = [] %} 

    {% for product_quantities in product_quantities_per_perfume %}
        {% if created_perfume.id == product_quantities.createdPerfume.getId() %}
            {% set selected_product_quantities = product_quantities.quantities %}
        {% endif %} 
    {% endfor %}

    {% set selected_key_head = 0 %} 
    {% for key, head_scent in head_scents %}
        {% if head_scent.scent == created_perfume.HeadScent.scent %}
            {% set selected_key_head = key %}
        {% endif %}
    {% endfor %}

    {% set selected_key_heart = 0 %}
    {% for key, heart_scent in heart_scents %}
        {% if heart_scent.scent == created_perfume.HeartScent.scent %}
            {% set selected_key_heart = key %}
        {% endif %}
    {% endfor %}

    {% set selected_key_base = 0 %}
    {% for key, base_scent in base_scents %}
        {% if base_scent.scent == created_perfume.BaseScent.scent %}
            {% set selected_key_base = key %}
        {% endif %}
    {% endfor %}
    <div id="perfume" class="d-flex flex-column align-items-center justify-content-start" style="width:480px; height: auto; border: 0.25rem solid;">
        <div id="perfume_actions" style="display: flex; flex-direction: row; align-items: center; justify-content: center; width:480px; height:30px; margin-top:50px">
            <div class="d-flex flex-row align-items-center justify-content-center">
            <a style="margin-right: 20px" href="{{ path('app_created_perfume_edit', {'id': created_perfume.id}) }}"><button class="btn btn-primary">Editer</button></a>
            {{ include('created_perfume/_delete_form.html.twig') }}
            </div>
            <a id="add_to_cart" style="margin-left: 20px" href="{{ path('app_add_to_cart', {id: created_perfume.id}) }}"><button class="btn btn-primary">Ajouter au panier <i class="fas fa-shopping-cart"></i></button></a>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div style='margin-top: 50px; margin-bottom: 30px'>
                <h2>{{ created_perfume.name }}</h2>
            </div>
            <div id="perfume_box" style='height:40px; width:60px; border:solid; border-top: none'>
            </div>
        </div>

        <div id="perfume_box" class="d-flex flex-row align-items-center justify-content-center">
            <div id='proportionHeadScentInput' style='height: 0px; width: 350px; position: relative; bottom:0px'>
                <pre style='position: relative; bottom: 10px; left:180px'>
                    {{ created_perfume.ProportionHeadScent }} %
                </pre>
            </div>
            <div id='proportionHeadScent' style='height:{{created_perfume.ProportionHeadScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ head_scents[selected_key_head].image }}"); background-size: cover; border:solid; margin-top: -1px'>
            </div>
            <div id='headScentInput' style='height: 0px; width: 350px; position: relative; bottom:0px'>
                <pre style='position: relative; bottom: 10px; left:-50px'>
                    {{ created_perfume.HeadScent }}
                </pre>
            </div>
        </div>
        
        <div id="perfume_box" class="d-flex flex-row align-items-center justify-content-center">
            <div id='proportionHeartScentInput' style='height: 0px; width: 350px; position: relative; top:0px'>
                <pre style='position: relative; bottom: 10px; left:180px'>
                    {{ created_perfume.ProportionHeartScent }} %
                </pre>
            </div>
            <div id='proportionHeartScent' style='height:{{created_perfume.ProportionHeartScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ heart_scents[selected_key_heart].image }}"); background-size: cover; border:solid; margin-top: -1px'>
            </div>
            <div id='heartScentInput' style='height: 0px; width: 350px; position: relative; bottom:0px'>
                <pre style='position: relative; bottom: 10px; left:-50px'>
                    {{ created_perfume.HeartScent }}
                </pre>
            </div>
        </div>

        <div id="perfume_box" class="d-flex flex-row align-items-center justify-content-center">
            <div id='proportionBaseScentInput' style='height: 0px; width: 350px; position: relative; top:0px'>
            <pre style='position: relative; bottom: 38px; left:200px'> 
                {{ created_perfume.ProportionBaseScent }} %
            </pre>
            </div>
            <div id='proportionBaseScent' style='height:{{created_perfume.ProportionBaseScent/100*120*3}}px; min-width: 60px; width:60px; background-image: url("{{ base_scents[selected_key_base].image }}"); background-size: cover; border:solid; margin-top: -1px; border-radius: 0px 0px 40px 40px;'></div>
            <div id='baseScentInput' style='height: 0px; width: 350px; position: relative; bottom:0px'>
                <pre style='position: relative; bottom: 10px; left:-50px'>
                    {{ created_perfume.BaseScent }}
                </pre>
            </div>
        </div>

        <div class="d-flex w-100 flex-column align-items-center justify-content-center" style='margin-top: 40px'>
            <h4>Forme(s) du parfum:</h4>
            <div style='margin-top: 40px'>
                <ul style='list-style: none'>
                {% for key, product in created_perfume.Products %}
                    <li>
                    {{ product.getName() }} <br>
                    {{ product.getPrice() }} € <br>
                    {% if (selected_product_quantities is not empty) %}
                    x {{ selected_product_quantities[key] }}<br>
                    {% else  %}
                    x 1 <br>
                    {% endif %}
                    <img alt="products" src="{{product.getImage()}}" height="200"> <br>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}

<div id="fillRow" class="d-flex flex-row align-items-start justify-content-center">
</div>

</div>

<script>
var rowlength = Math.floor( // round down to account for some spacing
  document.body.clientWidth / // width of viewport divided by...
  document.querySelectorAll('#perfume')[0].clientWidth // width of an element
)

const range = function(start, end, step) {
  let arr = [];
  for (i = start; i <= end; i += step){
     arr.push(i);
  };
  return arr;
}

created_perfumes = JSON.parse('{{ created_perfumes | json_encode | raw }}');

height = $('#perfume').outerHeight();

console.log(rowlength);

text = "";

if(rowlength != 1) {
    max = rowlength - created_perfumes.length % rowlength;
} else {
    max = 0;
}

for (i in range(1, max, 1)) {
text+=`<div style="width:480px; height:`+ height +`px; border: 0.25rem solid;"> </div>`
}

document.getElementById("fillRow").innerHTML = text;
</script>
{% endblock %} 
