{% extends 'base.html.twig' %}

{% block title %}CreatedPerfume index{% endblock %}

{% block body %}
    <h1>CreatedPerfume index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note de tête</th>
                <th>Proportion de note de tête</th>
                <th>Note de coeur</th>
                <th>Proportion de note de coeur</th>
                <th>Note de fond</th>
                <th>Proportion de note de fond</th>
                <th>Prix de l'échantillon</th>
                <th>Validation de l'échantillon</th>
                <th>Produit(s)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for created_perfume in created_perfumes %}
            <tr>
                <td>{{ created_perfume.id }}</td>
                <td>{{ created_perfume.HeadScent }}</td>
                <td>{{ created_perfume.ProportionHeadScent }}</td>
                <td>{{ created_perfume.HeartScent }}</td>
                <td>{{ created_perfume.ProportionHeartScent }}</td>
                <td>{{ created_perfume.BaseScent }}</td>
                <td>{{ created_perfume.ProportionBaseScent }}</td>
                <td>{{ created_perfume.SamplingPrice }}</td>
                <td>{{ created_perfume.SamplingValidation ? 'Oui' : 'Non' }}</td>
                {% if created_perfume.SamplingValidation %}
                <td>{{ created_perfume.Products }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a href="{{ path('app_created_perfume_show', {'id': created_perfume.id}) }}">Montrer</a>
                    <a href="{{ path('app_created_perfume_edit', {'id': created_perfume.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">aucun parfum trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
