{% extends 'base.html.twig' %}

{% block title %}CreatedPerfume index{% endblock %}

{% block body %}
    <h1>Mes parfums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Note de tête</th>
                <th>Proportion de note de tête</th>
                <th>Note de coeur</th>
                <th>Proportion de note de coeur</th>
                <th>Note de fond</th>
                <th>Proportion de note de fond</th>
                <th>Prix de l'échantillon</th>
                <th>Validation de l'échantillon</th>
                <th>Produit(s)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for created_perfume in created_perfumes %}
            <tr>
                <td>{{ created_perfume.name }}</td>
                <td>{{ created_perfume.HeadScent }}</td>
                <td>{{ created_perfume.ProportionHeadScent }} %</td>
                <td>{{ created_perfume.HeartScent }}</td>
                <td>{{ created_perfume.ProportionHeartScent }} %</td>
                <td>{{ created_perfume.BaseScent }}</td>
                <td>{{ created_perfume.ProportionBaseScent }} %</td>
                <td>{{ created_perfume.SamplingPrice }} €</td>
                <td>{{ created_perfume.SamplingValidation ? 'Oui' : 'Non' }}</td>
                {% if created_perfume.SamplingValidation %}
                <td>
                    <ul>
                    {% for product in created_perfume.Products %}
                        <li>{{ product.getName() }} <br>
                        {{ product.getPrice() }} € <br>
                        <img src="{{product.getImage()}}" width="250" height="300"> <br>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a href="{{ path('app_created_perfume_show', {'id': created_perfume.id}) }}">Montrer</a>
                    <a href="{{ path('app_created_perfume_edit', {'id': created_perfume.id}) }}">Editer</a>
                    <br>
                    <a href="{{ path('app_add_to_cart', {id: created_perfume.id}) }}"><i class="fas fa-shopping-cart"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">aucun parfum trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
