{% extends 'base.html.twig' %}

{% block title %}CreatedPerfume{% endblock %}

{% block body %}
    <h1>CreatedPerfume</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ created_perfume.id }}</td>
            </tr>
            <tr>
                <th>HeadScent</th>
                <td>{{ created_perfume.HeadScent }}</td>
            </tr>
            <tr>
                <th>ProportionHeadScent</th>
                <td>{{ created_perfume.ProportionHeadScent }}</td>
            </tr>
            <tr>
                <th>HeartScent</th>
                <td>{{ created_perfume.HeartScent }}</td>
            </tr>
            <tr>
                <th>ProportionHeartScent</th>
                <td>{{ created_perfume.ProportionHeartScent }}</td>
            </tr>
            <tr>
                <th>BaseScent</th>
                <td>{{ created_perfume.BaseScent }}</td>
            </tr>
            <tr>
                <th>ProportionBaseScent</th>
                <td>{{ created_perfume.ProportionBaseScent }}</td>
            </tr>
            <tr>
                <th>SamplingPrice</th>
                <td>{{ created_perfume.SamplingPrice }}</td>
            </tr>
            <tr>
                <th>SamplingValidation</th>
                <td>{{ created_perfume.SamplingValidation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Product(s)</th>
                <td>
                {% for product in created_perfume.Products %}
                    <li>{{ product.getName() }} <br>
                    {{ product.getPrice() }} € <br>
                    <img src="{{product.getImage()}}" width="250" height="300"> <br>
                    </li>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_created_perfume_index') }}">back to list</a>

    <a href="{{ path('app_created_perfume_edit', {'id': created_perfume.id}) }}">edit</a>

    {{ include('created_perfume/_delete_form.html.twig') }}
{% endblock %}
